body {
    margin: 0px;
    font-family: 'EB Garamond', serif;
    font-size: 24px;
    color: #1b1b1b;
    background-color: #202c2c;
}

p {
    margin: 0px;
}

.wrapper {
    background-color: #e2e2e0;
    max-width: 1280px;
	margin: auto;
	position: absolute;
	left: 0px;
	right: 0px;
}

[class^="content"] {
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 200px;
    padding-right: 200px;
}

.content-document {
    background-image: url("images/newspaper_texture.jpg");
    /* https://i.pinimg.com/originals/a7/d8/a3/a7d8a324ed4206a8fb6864ba0c168511.jpg */
    background-size: cover;
    background-position: center;
} 

.content-flashback {
    color: #3f2727;
    background-color: #d6d6cd;
}

.content-flashback-1 {
    color: #2f352f;
    background-color: #cfcfbc;
}

.content-flashback-2 {
    color: #2a312a;
    background-color: #c4c4aa;
}

.content-flashback-finale {
    color: #8d978d;
    background-color: #1e201e;
}

.content-flashback-finale-1 {
    color: #809680;
    background-color: #121612;
}

.content-flashback-finale-2 {
    color: #6a886a;
    background-color: #000000;
}

.title-page {
    padding-top: 20%;
}

.title {
    font-size: 64px;
    text-align: center;
    font-variant: small-caps;
}

.subtitle {
    padding-top: 8px;
    padding-bottom: 24px;
    font-size: 36px;
    text-align: center;
    font-variant: small-caps;
}

.title-quote-divider {
    padding-top: 50%;
}

.chapter-title-page {
    padding-top: 70%;
    padding-bottom: 70%;
}

.chapter-numeral {
    font-size: 48px;
    text-align: center;
}

.chapter-title {
    font-size: 40px;
    text-align: center;
    font-variant: small-caps;
}

.chapter-initial-letter {
    font-size: 68px;
    float: left;
    line-height: 48px;
    padding-top: 6px;
    padding-right: 4px;
}

.quote {
    max-width: 960px;
    padding: 16px;
	margin: auto;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
}

.quote-text {
    font-style: italic;
}

.quote-attribution {
    text-align: right;
    font-variant: small-caps;
}

.document-paraphrase {
    font-family: 'News Cycle', sans-serif;
    color: black;
    font-size: 20px;
    font-weight: bolder;
}

.manuscript {
    font-family: 'Special Elite', sans-serif;
    text-align: center;
    color: black;
    opacity: 80%;
}

.document-header {
    font-size: 30px;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    color: black;
    opacity: 80%;
}

.document-headline {
    font-size: 56px;
    margin-bottom: 12px;
}

.document-body {
    font-family: 'News Cycle', sans-serif;
}

.document-body-initial-letter {
    font-size: 76px;
    float: left;
    line-height: 48px;
    padding-top: 12px;
    padding-right: 4px;
}

div.chapter p {
    margin-top: 18px;
    margin-bottom: 18px;
}

div.document-body p {
    margin-top: 18px;
    margin-bottom: 18px;
}

.inline-paragraph-image {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
    object-fit: cover;
}

.inline-full-image {
    display: block;
    width: 100%;
    object-fit: cover;
}

.inline-intro-image {
    display: block;
    width: 30%;
    object-fit: cover;
    margin: auto;
    padding-bottom: 10px;
}

.inline-finale-image {
    display: block;
    width: 30%;
    object-fit: cover;
    margin: auto;
    padding-bottom: 50px;
}

.black-speech {
    font-family: 'Cormorant Garamond', serif;
    font-style: italic;
    color: #283a29;
    animation: black-speech-color-change 0.1s infinite;
}

.black-speech-dark {
    font-family: 'Cormorant Garamond', serif;
    font-style: italic;
    color: #406e42;
    animation: black-speech-color-change-dark 0.1s infinite;
}

.black-speech-safe {
    font-family: 'Cormorant Garamond', serif;
    color: #406e42;
}

@keyframes black-speech-color-change {
    50% {
        color: #406e42;
        text-shadow: 1px 1px#00ff00;
    }
    75% {
        text-shadow: 1px 1px#00ac00;
    }
}

@keyframes black-speech-color-change-dark {
    50% {
        color: #4e8350;
        text-shadow: 1px 1px#394739;
    }
    75% {
        text-shadow: 1px 1px#4d694d;
    }
}

.finale-content-divider {
    padding-top: 100%;
}

.ending-page {
    padding-bottom: 35%;
}

@media screen and (max-width: 1024px){
    [class^="content"] {
        padding: 100px;
    }
}

@media screen and (max-width: 640px){
    [class^="content"] {
        padding: 50px;
        font-size: smaller;
    }

    .title {
        font-size: 48px;
    }

    .subtitle {
        font-size: 30px;
    }

    .chapter-numeral {
        font-size: 36px;
    }

    .chapter-title {
        font-size: 30px;
    }

    .chapter-initial-letter {
        font-size: 56px;
        line-height: 36px;
        padding-top: 7px;
        padding-right: 4px;
    }

    .document-header {
        font-size: 20px;
    }

    .document-headline {
        font-size: 36px;
    }

    .document-body-initial-letter {
        font-size: 64px;
        line-height: 36px;
        padding-top: 12px;
        padding-right: 4px;
    }
}